---
import Layout from "../../layouts/Layout.astro";
import SectionTitle from "../SectionTitle.astro";

import { getNews } from "../../lib/microcms";

const response = await getNews({ fields: ["id", "title"], limit: 3 });

---

<section class="info content-width">
  <SectionTitle text="最新のお知らせ" lead="" />
  <ul>
    {
      response.contents.map((content: any) => (
        <li>
          <a href={`news/${content.id}`}>{content.title}</a>
        </li>
      ))
    }
  </ul>
</section>
<style lang="scss">
  .info {
    padding: 40px 0;
  }
  .info ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .info ul li {
    margin-bottom: 20px;
  }
  .info ul li a {
    display: block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s;
  }
  .info ul li a:hover {
    background-color: #f5f5f5;
  }
</style>
