---
import FirsetView from "../components/sections/FirsetView.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <FirsetView />
  </main>
</Layout>

<style lang="scss"></style>
