---
import Layout from "../../layouts/Layout.astro";

import { getNews } from "../../lib/microcms";

const response = await getNews({ fields: ["id", "title"] });
---

<Layout title="My first blog with Astro">
  <main>
    <h1>NewsIndex</h1>
    <ul>
      {
        response.contents.map((content: any) => (
          <li>
            <a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
