---

---
<header class="header">
    <div class="header__logo"></div>
    <nav class="gnav">
      <ul class="gnav__list">
        <li class="gnav__item">
          <a href="/">
            ホーム
          </a>
        </li>
        <li class="gnav__item">
          <a href="/service">
            サービス
          </a>
        </li>
        <li class="gnav__item">
          <a href="/about">
            アバウト
          </a>
        </li>

      </ul>
    </nav>
    <nav class="contact">
      <a href="/contact">お問い合わせはこちら</a>
    </nav>
  </header>