---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/destyle.css";
import "../styles/global.scss";

interface Props {
  title: string;
  desc?: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={desc} />
    <ViewTransitions/>
  </head>
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>
